<div class='container '>
  <div class="row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mt-3 mx-auto">
      <h2>Editing Book</h2>
      <% if @book.errors.any? %>
        <h4><%= @book.errors.count %>error prohibited this obj from being saved:</h4>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <%= form_with model: @book do |f| %>
        <div class="field">
          Title
           <%= f.text_field :title, autofocus: true, class: "form-control", placeholder:""%><br>
          Opinion
          <%=f.text_area :body, autofocus: true, class:"form-control", placeholder:"" %><br>
        </div>
        <div>
          <%= f.submit 'Update Book', class: "btn btn-sm btn-success" %>
        </div>
      <% end %>
      <div>
        <p><%= link_to "Show", book_path(@book) %>｜<%= link_to "Back", books_path %></p><br>
      </div>
    </div>
  </div>
</div>