<div class='container '>
  <div class="row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mt-3 mx-auto">
      <h2>Editing Book</h2>
      <% if @book.errors.any? %>
        <h4><%= @book.errors.count %>error prohibited this obj from being saved:</h4>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <label for="inputtitle">Title</label>
          <input type="text" class="form-control inputtitle" id="inputtitle">
        </div>
             <!--f.text_field :title, autofocus: true, id:"inputTitle", placeholder:""%><br>-->
        <div class="form-group">
          <label for="inputopinion">Opinion</label>
          <textarea class="form-control opinion" id="inputopinion"></textarea>
        </div>
             <!--f.text_field :body, autofocus: true, id:"inputBody", placeholder:"" %><br>-->
        <div class="form-group">
          <%= f.submit 'Update Book', class: "btn btn-sm btn-success" %>
        </div>
      <% end %>
      <div>
        <p><%= link_to "Show", book_path(@book) %>｜<%= link_to "Back", books_path %></p><br>
      </div>
    </div>
  </div>
</div>