

<!--ユーザ・投稿部分テンプレート設定-->
<%= render 'list', new_book: @new_book, user: @user %>

<div class="col-md-8 offset-md-1">
<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  <tbody>
  <% @books.each do |book| %>


    <tr>
    <!--投稿ユーザー画像-->
    <td><%= image_tag @user.get_profile_image(100,100) %></td>

    <td>
    <%= link_to book_path(book.id) do %>
    <%= book.title %>

    <% end %>
    </td>

    <td> <%= book.Body %></td>
    </tr>
  <% end %>
  </tbody>
<table>
</div>