
<!--ユーザ・投稿部分テンプレート設定-->
<%= render 'list', new_book: @new_book, user: @user %>


<h1>Book detail</h1>

<div>
  <!--ユーザー画像-->


  <%= link_to user_path(@user) do %>
  <%= image_tag @user.get_profile_image(100,100) %><br>
  <%= @user.name %>
  <% end %>
  <!--ユーザー名前-->
  <p></p>
  <!--投稿タイトル-->
  <p><%= @book.title %></p>
  <!--投稿内容-->
  <p><%= @book.caption %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
</div>